@page
@model dancelog.Pages.Account.EditProfileModel
@{
    ViewData["Title"] = "Редактирование профиля";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Редактирование информации</h4>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.FirstName" class="form-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.MiddleName" class="form-label"></label>
                <input asp-for="Input.MiddleName" class="form-control" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            <a asp-page="Profile" class="btn btn-secondary">Отмена</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}