@page
@model dancelog.Pages.Account.ListOfUsersModel
@{
    ViewData["Title"] = "Список пользователей";
}

<h2>Список пользователей</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>ФИО</th>
            <th>Роль</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.FullName</td>
                <td>@user.Role</td>
            </tr>
        }
    </tbody>
</table>