@page
@model dancelog.Pages.GroupModel
@{
}

<h2>@ViewData["Title"]</h2>

<form method="post">

    <input type="hidden" asp-for="Group.Id" />

    <div class="form-group">
        <label asp-for="Group.Name">Название</label>
        <input asp-for="Group.Name" type="text" class="form-control" />
        <span asp-validation-for="Group.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Group.CourseId">Курс</label>
        <select asp-for="Group.CourseId" class="form-control" asp-items="@Model.CourseOptions">
            <option value="">-- Выберите курс --</option>
        </select>
        <span asp-validation-for="Group.CourseId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
