@page
@model IndexModel
@{
    ViewData["Title"] = "Журнал посещаемости студента";
}

<div class="text-center py-5">
    <h1 class="display-4 fw-bold mb-4">Добро пожаловать в DanceLog</h1>
    <h2 class="display-6 fw-normal">Журнал посещаемости</h2>
    <p class="fs-5">Здесь вы можете вести учет посещаемости студентов.</p>
    <div>
        <a href="/ListOfAttendance" class="btn btn-outline-secondary me-2">Посещаемость</a>
        <a href="/ListOfStudents" class="btn btn-outline-secondary">Список студентов</a>
    </div>
</div>